# Variáveis de ambiente - RENOMEAR PARA .env

# Caixa Pix
CAIXA_MERCHANT_ID=seu_merchant_id_aqui
CAIXA_ACCESS_TOKEN=seu_access_token_aqui
CAIXA_ACCOUNT_ID=sua_conta_aqui

# Servidor
PORT=3000
NODE_ENV=development
BASE_URL=http://localhost:3000

# Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=sua_senha_forte_aqui

# JWT
JWT_SECRET=sua_chave_secreta_jwt_muito_forte_aqui